@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my lightning talk!</h1>
    <p>Learn about Elastic Beanstalk in 5 minutes flat.</p>
</div>
